[submodule "FoxEngine/vendor/spdlog"]
	path = FoxEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = glfw
	url = https://github.com/TheCherno/glfw
[submodule "FoxEngine/vendor/GLFW"]
	path = FoxEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "FoxEngine/vendor/imgui"]
	path = FoxEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "FoxEngine\\vendor\\glm"]
	path = FoxEngine\\vendor\\glm
	url = https://github.com/g-truc/glm
